/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

html {
  color-scheme: light dark;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  inline-size: var(--content-width);
  max-inline-size: var(--content-width);
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  background-image: var(--background-gradient);
  background-size: cover;
  color: var(--main-color);
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font), sans-serif;
    font-variation-settings: 'wght', var(--card-text-font-weight);
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.56rem;
  margin-top: var(--header-margin-top);
  margin-bottom: var(--header-margin-bottom);
  padding-top: var(--header-padding-top);
  padding-bottom: 1.56rem;
  background-color: var(--background-color);
  font-family: var(--display-font), monospace;
  border: var(--frame-border);
}

.header__title-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  text-align: center;
}

.header__title {
  font-size: var(--header-title-font-size);
}

.header__title-subtitle {
  font-size: var(--header-subtitle-font-size);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.88rem;
  font-size: var(--text-small);
}

.theme-menu__item {
  position: relative;
  opacity: 1;
  transition: opacity var(--animate-transition);
  padding-block-end: 3px;
  max-inline-size: fit-content;
}

.theme-menu__item:hover {
  color: var(--main-color);
  opacity: var(--opacity-half);
}

.theme-menu__item::after {
  content: "";
  position: absolute;
  background-color: currentColor;
  inset-block-end: 0;
  inset-inline-start: 0;
  block-size: 2px;
  inline-size: 100%;
  scale: 0 1;
  transform-origin: left;
  transition: scale var(--animate-transition);
  opacity: var(--opacity-half);
}

.theme-menu__item:has(.theme-menu__button:disabled) {
  opacity: var(--opacity-half);
}

.theme-menu__item:has(.theme-menu__button:disabled)::after {
  scale: 0 1;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: var(--opacity-half);
}

.theme-menu__item:has(.theme-menu__button:focus-visible)::after {
  scale: 1 1;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:focus {
  appearance: none;
  opacity: var(--opacity-half);
}

.theme-menu__item::before {
  content: "▶";
  visibility: hidden;
  position: absolute;
}

.theme-menu__item:has(.theme-menu__button:disabled)::before {
  visibility: visible;
  animation: bump var(--animate-bump);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: var(--content-bottom-margin);
}

.card {
  border: var(--frame-border);
  background-color: var(--background-color);
}

.card__title {
  padding: var(--card-title-padding);
  font-size: var(--card-title-font-weight);
}

.card__image-container {
  position: relative;
  inline-size: 100%;
  overflow: hidden;
}

.card__image {
  inline-size: 100%;
  border-block: var(--frame-border);
}

.card__watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--display-font), monospace;
  font-size: var(--text-small);
  opacity: var(--opacity-half);
  text-shadow: var(--text-shadow);
  mix-blend-mode: hard-light;
}

@supports(
(text-stroke: 1px var(--background-color)) or
(-webkit-text-stroke: 1px var(--background-color))) {
  :root {
    --text-shadow: 1px var(--background-color);
  }

  .card__watermark {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: var(--text-shadow);
    text-shadow: none;
  }
}

.card__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 1.56rem;
}

.card__content-text {
  font-size: var(--text-medium);
  display: flex;
  flex-direction: column;
  gap: 27px;
  line-height: 117%;
}

.card__buttons {
  align-self: end;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.card__icon-button {
  block-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: outline var(--animate-transition);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color);
}

.like-icon {
  cursor: pointer;
}

.card__like-button {
  min-inline-size: 162px;
}

.button {
  inline-size: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: var(--frame-border);
  padding-block: var(--button-padding-block);
  padding-inline: var(--button-padding-inline);
  color: var(--button-text-color);
  transition: box-shadow var(--animate-transition);
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--main-color);
  scale: 0 1;
  transform-origin: left;
  transition: scale var(--animate-slide-hover);
}

.button:hover::before {
  scale: 1 1;
}

.button:focus {
  outline: none;
  box-shadow: var(--like-shadow);
}

.button__text {
  position: relative;
  z-index: 10;
  font-size: var(--text-small);
  font-family: var(--display-font), monospace;
  line-height: 90%;
  mix-blend-mode: difference;
}

.main__save-button {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  align-self: center;
}

.main__save-icon {
  mix-blend-mode: difference;
}

.main__modal {
  max-inline-size: var(--modal-width);
  min-inline-size: var(--modal-width);
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-block: 30px;
  padding-inline: var(--modal-horizontal-padding);
  background-color: var(--background-color);
  color: var(--main-color);
}

.main__modal-message {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.main__modal-icon {
  min-inline-size: 39px;
  max-inline-size: 39px;
  min-block-size: 39px;
  max-block-size: 39px;
}

.main__modal-text {
  font-family: var(--display-font), monospace;
  line-height: 150%;
  font-size: 14px;
  text-transform: uppercase;
}

.main__modal-button {
  min-inline-size: 100%;
}

.main__modal::backdrop {
  background-color: rgb(0 0 0 / 0.7);
  backdrop-filter: blur(7px);
}

.main__modal[open] {
  display: flex;
}

.filter-bright {
  filter: brightness(200%);
}

.filter-contrast {
  filter: contrast(40%);
}

.filter-blur {
  filter: blur(0.1rem);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-saturate {
  filter: saturate(158%);
}

.filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-mixed {
  filter: invert(80%) brightness(90%) saturate(90%) hue-rotate(180deg);
}

